/* component/nav */
#nav-body{background: #ddd; display: flex; justify-content: space-between; padding: 20px;}
#nav-body h1{font-size: 21px;}
#nav-body ul{display: flex; justify-content: space-between;}
#nav-body ul li{}
#nav-body ul li button{}

/* pages/signIn*/
.login-container{}
.login-container .login-form{}
.login-container .login-form label{}
.login-container .login-form .login-id{}
.login-container .login-form .login-password{}
.login-container .login-form .button{}